<h3><%= l(:label_gitolite_ssh_config) %></h3>

<p>
  <label><%= l(:label_gitolite_user) %></label>
  <%= text_field_tag("settings[gitolite_user]",
    Setting.plugin_openproject_revisions_git[:gitolite_user], size: 60)
  %>
</p>

<p>
  <label><%= l(:label_gitolite_ssh_private_key) %></label>
  <%= text_field_tag("settings[gitolite_ssh_private_key]",
    Setting.plugin_openproject_revisions_git[:gitolite_ssh_private_key], size: 110) %>
</p>

<p>
  <label><%= l(:label_gitolite_ssh_public_key) %></label>
  <%= text_field_tag("settings[gitolite_ssh_public_key]",
    Setting.plugin_openproject_revisions_git[:gitolite_ssh_public_key], size: 110) %>
</p>

<p>
  <label><%= l(:label_gitolite_server_port) %></label>
  <%= text_field_tag("settings[gitolite_server_port]", Setting.plugin_openproject_revisions_git[:gitolite_server_port], size: 5) %>
</p>

<p>
  Gitolite must be accessible through:
  <br />
  <strong>ssh -T
    <%= Setting.plugin_openproject_revisions_git[:gitolite_user] %>@localhost -p
    <%= Setting.plugin_openproject_revisions_git[:gitolite_server_port] %>
  </strong>
</p>

<h3><%= l(:label_gitolite_storage_config) %></h3>

<p>
  <label><%= l(:label_gitolite_admin_dir) %></label>
  <%= text_field_tag("settings[gitolite_admin_dir]",
  Setting.plugin_openproject_revisions_git[:gitolite_admin_dir], size: 60) %>
  <br />
  <em><%= l(:label_gitolite_admin_dir_desc) %></em>
</p>

<p>
  <label><%= l(:label_gitolite_global_storage_path) %></label>
  <%= text_field_tag("settings[gitolite_global_storage_path]",
    Setting.plugin_openproject_revisions_git[:gitolite_global_storage_path], size: 60) %>
  <br />
  <em><%= l(:label_gitolite_global_storage_path_desc) %></em>
</p>

<p>
  <%= use_delayed_jobs = Setting.plugin_openproject_revisions_git[:use_delayed_jobs] %>
  <label><%= l(:label_use_delayed_jobs) %></label>
    <%= check_box_tag "settings[use_delayed_jobs]", "true", use_delayed_jobs  %>
  </span>
  <br />
  <em><%= l(:label_use_delayed_jobs_desc) %></em>
</p>

<h3><%= l(:label_gitolite_git_config) %></h3>

<p>
  <label><%= l(:label_git_config_username) %></label>
  <%= text_field_tag("settings[git_config_username]",
    Setting.plugin_openproject_revisions_git[:git_config_username], size: 60) %>
  <br />
  <em><%= l(:label_git_config_username_desc) %></em>
</p>

<p>
  <label><%= l(:label_git_config_email) %></label>
  <%= text_field_tag("settings[git_config_email]",
     Setting.plugin_openproject_revisions_git[:git_config_email], size: 60) %>
  <br />
  <em><%= l(:label_git_config_email_desc) %></em>
</p>

