<%
  # Gitolite Hooks Config
  gitolite_overwrite_existing_hooks = OpenProject::Revisions::Git::Config.get_setting(:gitolite_overwrite_existing_hooks, true)
  gitolite_hooks_are_asynchronous   = OpenProject::Revisions::Git::Config.get_setting(:gitolite_hooks_are_asynchronous, true)
  gitolite_hooks_debug              = OpenProject::Revisions::Git::Config.get_setting(:gitolite_hooks_debug, true)
  gitolite_hooks_url                = OpenProject::Revisions::Git::Config.get_setting(:gitolite_hooks_url)
%>



<h3><%= "Gitolite Hooks config" %></h3>

<p>
  <%= link_to l(:label_install_gitolite_hooks),
           { controller: "settings/plugin/openproject_revisions_git", action: 'install_gitolite_hooks'},
           method: :get,
           class: 'icon icon-download1' %>
<p/>

<div class="form--field">
  <%= styled_label_tag("settings[gitolite_overwrite_existing_hooks]", l(:label_gitolite_overwrite_existing_hooks)) %>
  <%= hidden_field_tag "settings[gitolite_overwrite_existing_hooks]", "false" %>
  <%= styled_check_box_tag("settings[gitolite_overwrite_existing_hooks]", true, gitolite_overwrite_existing_hooks) %>
</div>

<div class="form--field">
  <%= styled_label_tag("settings[gitolite_hooks_are_asynchronous]", l(:label_gitolite_hooks_are_asynchronous)) %>
  <%= hidden_field_tag "settings[gitolite_hooks_are_asynchronous]", "false" %>
  <%= styled_check_box_tag("settings[gitolite_hooks_are_asynchronous]", true, gitolite_hooks_are_asynchronous) %>
</div>

<div class="form--field">
  <%= styled_label_tag("settings[gitolite_hooks_debug]", l(:label_gitolite_hooks_debug)) %>
  <%= hidden_field_tag "settings[gitolite_hooks_debug]", "false" %>
  <%= styled_check_box_tag("settings[gitolite_hooks_debug]", true, gitolite_hooks_debug) %>
</div>

<div class="form--field -required">
  <%= styled_label_tag("settings[gitolite_hooks_url]", l(:label_gitolite_hooks_url)) %>
  <%= styled_text_field_tag("settings[gitolite_hooks_url]", gitolite_hooks_url) %>
  <%= content_tag('div', "#{l(:label_default_gitolite_hooks_url)}: #{Setting.protocol}://#{Setting.host_name.split('/').first}", class: 'form--field-instructions') %>
</div>

<div class="form--field">
  <%= styled_label_tag(:label_gitolite_hooks_url, l(:label_gitolite_hooks_url)) %>
  <%= raw OpenProject::Revisions::Git::Config.gitolite_hooks_url %>
</div>

<div class="form--field">
  <%= styled_label_tag(:label_gitolite_hooks_namespace, l(:label_gitolite_hooks_namespace)) %>
  <%= raw OpenProject::Revisions::Git::Config.gitolite_hooks_namespace %>
</div>
