<%
  # Gitolite Access Config
  ssh_server_domain   = Setting.plugin_openproject_revisions_git[:ssh_server_domain]
  https_server_domain = Setting.plugin_openproject_revisions_git[:https_server_domain]

  gitolite_http_by_default   = Setting.plugin_openproject_revisions_git[:gitolite_http_by_default]

  show_repositories_url      = OpenProject::Revisions::Git::GitoliteWrapper.true?(:show_repositories_url)
  gitolite_daemon_by_default = OpenProject::Revisions::Git::GitoliteWrapper.true?(:gitolite_daemon_by_default)
%>

<h3><%= l(:label_gitolite_access_config) %></h3>

<p>
  <label><%= l(:label_https_server_domain) %></label>
  <%= text_field_tag("settings[https_server_domain]", https_server_domain, size: 60) %>
  <br />
  <em><%= l(:label_https_server_domain_desc) %></em>
</p>

<p>
  <label><%= l(:label_gitolite_http_by_default) %></label>
  <%= select_tag("settings[gitolite_http_by_default]", 
    options_for_select([
      [l(:label_disabled), "0"],
      [l(:label_https_only), "1"],
    ], gitolite_http_by_default)) %>
</p>

<p>
  <label><%= l(:label_gitolite_daemon_by_default) %></label>
  <span class="bootstrap-switch switch-small" data-on="primary" data-off="default" data-on-label="<%= l(:label_yes) %>" data-off-label="<%= l(:label_no) %>">
    <%= hidden_field_tag "settings[gitolite_daemon_by_default]", "false" %>
    <%= check_box_tag "settings[gitolite_daemon_by_default]", gitolite_daemon_by_default, gitolite_daemon_by_default %>
  </span>
</p>

<p>
  <label><%= l(:ssh_server_domain) %></label>
  <%= text_field_tag("settings[ssh_server_domain]", ssh_server_domain, size: 60) %>
  <br />
  <em><%= l(:label_ssh_server_domain_desc) %></em>
</p>

<%= render partial: "gitolite_display_access" %>
