<h3><%= l(:label_permissions_header) %></h3>

<table class="table table-hover">

  <tr>
    <td><%= l(:label_openproject_user) %></td>
    <td><span class="label label-success"><%= OpenProject::GitHosting::GitoliteWrapper.openproject_user %></span></td>
  </tr>

  <tr>
    <td><%= l(:label_gitolite_user) %></td>
    <td><span class="label label-success"><%= OpenProject::GitHosting::GitoliteWrapper.gitolite_user %></span></td>
  </tr>

  <tr>
    <td><%= l(:label_sudo_redmine_to_gitolite_user) %></td>
    <td><%= icon_wrapper (OpenProject::GitHosting::GitoliteWrapper.can_sudo_to_gitolite_user? ? 'icon-yes' : 'icon-warning'), l(:label_sudo_redmine_to_gitolite_user) %></td>
  </tr>

  <% hooks_manager = OpenProject::GitHosting::GitoliteHook.instance %>

  <tr>
    <td><%= l(:label_gitolite_hooks_params_installed) %></td>
    <td>
      <% params_installed = hooks_manager.hook_params_installed? %>
      <% params_installed.each do |param, installed| %>
        <%= icon_wrapper((installed ? 'icon-yes' : 'icon-warning'), param) %>
        <%# image_tag((installed ? 'true.png' : 'exclamation.png'), :style => "vertical-align: bottom;") %>
        <em><%= param %></em>
        <br />
      <% end %>
    </td>
  </tr>

  <tr>
    <td><%= l(:label_gitolite_hooks_installed) %></td>
    <td>
      <% hooks_installed  = hooks_manager.hooks_installed? %>
      <% hooks_installed.each do |hook, installed| %>
        <%= icon_wrapper((installed ? 'icon-yes' : 'icon-warning'), hook) %>
        <em><%= hook %></em>
        <br />
      <% end %>
    </td>
  </tr>

  <tr>
    <td><%= l(:label_mirroring_keys_installed) %></td>
    <td><%= icon_wrapper (OpenProject::GitHosting::GitoliteWrapper.mirroring_keys_installed?(:reset => true) ? 'icon-yes' : 'icon-warning'), l(:label_mirroring_keys_installed) %></td>
  </tr>

  <tr>
    <td><%= l(:label_git_version) %></td>
    <td><span class="label label-success"><%= Repository::Git.scm_version_string %></span></td>
  </tr>

  <tr>
    <td><%= l(:label_gitolite_version) %></td>
    <td>
      <% gitolite_version = OpenProject::GitHosting::GitoliteWrapper.gitolite_version %>
      <span class="label label-<%= gitolite_version.nil? ? 'important' : 'success' %>">
        <%= gitolite_version.nil? ? l(:label_unknown_gitolite_version) : gitolite_version %>
      </span>
    </td>
  </tr>

</table>

<p><%= label_tag  "", l(:label_gitolite_banner) %></p>

<div class="box">
<pre>
<%= raw OpenProject::GitHosting::GitoliteWrapper.gitolite_banner %>
</pre>
</div>

<p><%= label_tag  "", l(:label_path_directories) %></p>

<div class="box">
<pre>
<%= raw (ENV['PATH']).gsub(/:/, "<br/>") %>
</pre>
</div>
