<h3><%= l(:label_gitolite_ssh_config) %></h3>

<p>
  <label><%= l(:label_gitolite_user) %></label>
  <%= text_field_tag("settings[gitolite_user]", 
    Setting.plugin_openproject_git_hosting[:gitolite_user], :size => 60) 
  %>
</p>

<p>
  <label><%= l(:label_gitolite_ssh_private_key) %></label>
  <%= text_field_tag("settings[gitolite_ssh_private_key]", 
    Setting.plugin_openproject_git_hosting[:gitolite_ssh_private_key], :size => 110) %>
</p>

<p>
  <label><%= l(:label_gitolite_ssh_public_key) %></label>
  <%= text_field_tag("settings[gitolite_ssh_public_key]", 
    Setting.plugin_openproject_git_hosting[:gitolite_ssh_public_key], :size => 110) %>
</p>

<p>
  <label><%= l(:label_gitolite_server_port) %></label>
  <%= text_field_tag("settings[gitolite_server_port]", Setting.plugin_openproject_git_hosting[:gitolite_server_port], :size => 5) %>
</p>

<p>
  Gitolite must be accessible through:
  <br />
  <strong>ssh -T
    <%= Setting.plugin_openproject_git_hosting[:gitolite_user] %>@localhost -p 
    <%= Setting.plugin_openproject_git_hosting[:gitolite_server_port] %>
  </strong>
</p>

<h3><%= l(:label_gitolite_storage_config) %></h3>

<p>
  <label><%= l(:label_gitolite_admin_dir) %></label>
  <%= text_field_tag("settings[gitolite_admin_dir]",
  Setting.plugin_openproject_git_hosting[:gitolite_admin_dir], :size => 60) %>
  <br />
  <em><%= l(:label_gitolite_admin_dir_desc) %></em>
</p>

<p>
  <label><%= l(:label_gitolite_global_storage_dir) %></label>
  <%= text_field_tag("settings[gitolite_global_storage_dir]", 
    Setting.plugin_openproject_git_hosting[:gitolite_global_storage_dir], :size => 60) %>
  <br />
  <em><%= l(:label_gitolite_global_storage_dir_desc) %></em>
</p>

<p>
  <label><%= l(:label_gitolite_recycle_bin_dir) %></label>
  <%= text_field_tag("settings[gitolite_recycle_bin_dir]",
    Setting.plugin_openproject_git_hosting[:gitolite_recycle_bin_dir], :size => 60) %>
  <br />
  <em><%= l(:label_gitolite_recycle_bin_dir_desc) %></em>
</p>

<p>
  <label><%= l(:label_gitolite_recycle_bin_expiration_time) %></label>
  <%= text_field_tag("settings[gitolite_recycle_bin_expiration_time]", 
    Setting.plugin_openproject_git_hosting[:gitolite_recycle_bin_expiration_time], :size => 10) %>
  <br />
  <em><%= l(:label_gitolite_recycle_bin_expiration_time_desc) %></em>
</p>

<p>
  <label><%= l(:label_gitolite_storage_subdir) %></label>
  <%= text_field_tag("settings[gitolite_storage_subdir]",
    Setting.plugin_openproject_git_hosting[:gitolite_storage_subdir] , :size => 60) %>
  <br />
  <em><%= l(:label_gitolite_storage_subdir_desc) %></em>
</p>

<h3><%= l(:label_gitolite_git_config) %></h3>

<p>
  <label><%= l(:label_gitolite_timeout) %></label>
  <%= text_field_tag("settings[gitolite_timeout]", 
  Setting.plugin_openproject_git_hosting[:gitolite_timeout], :size => 10) %>
  <br />
  <em><%= l(:label_gitolite_timeout_desc) %></em>
</p>

<p>
  <label><%= l(:label_gitolite_log_level) %></label>
  <%= select_tag("settings[gitolite_log_level]", options_for_select(
    [
      [l(:label_debug), 'debug'],
      [l(:label_info), 'info'],
      [l(:label_warn), 'warn'],
      [l(:label_error), 'error']
    ], Setting.plugin_openproject_git_hosting[:gitolite_log_level])) %>
  <br />
  <em><%= l(:label_gitolite_log_split_desc) %></em>
</p>

<p>
  <label><%= l(:label_gitolite_log_split) %></label>
  <span class="bootstrap-switch switch-small" data-on="primary" data-off="default" data-on-label="<%= l(:label_yes) %>" data-off-label="<%= l(:label_no) %>">
    <%= hidden_field_tag "settings[gitolite_log_split]", "false" %>
    <% gitolite_log_split = Setting.plugin_openproject_git_hosting[:gitolite_log_split] %>
    <%= check_box_tag "settings[gitolite_log_split]", 
      gitolite_log_split, gitolite_log_split %>
  </span>
  <br />
  <em><%= l(:label_gitolite_log_split_desc) %></em>
  <br />
  <% if gitolite_log_split %>
    <em><%= l(:label_gitolite_log_split_on) %></em>
  <% else %>
    <em><%= l(:label_gitolite_log_split_off) %></em>
  <% end %>
</p>

<p>
  <label><%= l(:label_git_config_username) %></label>
  <%= text_field_tag("settings[git_config_username]", 
    Setting.plugin_openproject_git_hosting[:git_config_username], :size => 60) %>
  <br />
  <em><%= l(:label_git_config_username_desc) %></em>
</p>

<p>
  <label><%= l(:label_git_config_email) %></label>
  <%= text_field_tag("settings[git_config_email]",
     Setting.plugin_openproject_git_hosting[:git_config_email], :size => 60) %>
  <br />
  <em><%= l(:label_git_config_email_desc) %></em>
</p>

