<%
  # Gitolite Display Access
  gitolite_user                = Setting.plugin_openproject_revisions_git[:gitolite_user]
  ssh_server_domain            = Setting.plugin_openproject_revisions_git[:ssh_server_domain]

  gitolite_global_storage_path  = Setting.plugin_openproject_revisions_git[:gitolite_global_storage_path]
  https_server_domain = Setting.plugin_openproject_revisions_git[:https_server_domain]
%>

<div class="revisions_git_access_box">

  <h3><%= l(:label_current_access_patterns) %></h3>

  <span><%= raw l(:display_access_setup1) %></span>
  <br/><br/>
  <span><%= raw l(:display_access_setup2) %></span>
  <br/><br/>
  <span><%= raw l(:display_access_setup3) %></span>

  <p>
    <label><%= l(:label_example_repository) %></label>
    <br/>

    <label><%= l(:gitolite_global_storage_path) %> :</label>
    <%= raw File.join '$HOME', gitolite_global_storage_path, 'project1/project2/project3/', 'example.git' %>

    <br/>

    <label><%= l(:label_ssh_access) %> :</label>
    <%= raw "ssh://#{gitolite_user}@#{ssh_server_domain}/project1/project2/project3/example.git" %>

    <br/>

    <label><%= l(:label_https_access) %> :</label>
    <%= raw "https://#{https_server_domain}/git/project1/project2/project3/example.git" %>

    <br/>
    <br/>

    <label><%= l(:label_etcetera) %>...</label>
  </p>

  <%= raw l(:display_access_emphasis) %>

</div>
