<%
  # Gitolite Access Config
  ssh_server_domain   = Setting.plugin_openproject_revisions_git[:ssh_server_domain]
  https_server_domain = Setting.plugin_openproject_revisions_git[:https_server_domain]

  gitolite_http_by_default   = Setting.plugin_openproject_revisions_git[:gitolite_http_by_default]

  show_repositories_url      = OpenProject::Revisions::Git::GitoliteWrapper.true?(:show_repositories_url)
  gitolite_daemon_by_default = OpenProject::Revisions::Git::GitoliteWrapper.true?(:gitolite_daemon_by_default)
%>

<h3><%= l(:label_gitolite_access_config) %></h3>

<div class="form--field">
  <%= styled_label_tag 'settings[https_server_domain]', l(:label_https_server_domain) %>
  <%= styled_text_field_tag("settings[https_server_domain]", https_server_domain, size: 60) %>
  <br />
  <div class="form--field-instructions"><%= l(:label_https_server_domain_desc) %></div>
</div>

<div class="form--field">
  <%= styled_label_tag 'settings[gitolite_daemon_by_default]', l(:label_gitolite_daemon_by_default) %>
  <span class="bootstrap-switch switch-small" data-on="primary" data-off="default" data-on-label="<%= l(:label_yes) %>" data-off-label="<%= l(:label_no) %>">
    <%= hidden_field_tag "settings[gitolite_daemon_by_default]", "false" %>
    <%= check_box_tag "settings[gitolite_daemon_by_default]", gitolite_daemon_by_default, gitolite_daemon_by_default %>
  </span>
</div>

<div class="form--field">
  <%= styled_label_tag 'settings[ssh_server_domain]', l(:ssh_server_domain) %>
  <%= styled_text_field_tag("settings[ssh_server_domain]", ssh_server_domain, size: 60) %>
  <div class="form--field-instructions"><%= l(:label_ssh_server_domain_desc) %></div>
</div>

<%= render partial: "gitolite_display_access" %>
