<% settings_tabs = [
                    {:name => 'gitolite_config',             :partial => 'settings/gitolite_config',             :label => :label_tab_gitolite},
                    {:name => 'gitolite_config_openproject', :partial => 'settings/gitolite_config_openproject', :label => :label_tab_openproject},
                    {:name => 'gitolite_config_access',      :partial => 'settings/gitolite_config_access',      :label => :label_tab_access},
                    {:name => 'gitolite_config_hooks',       :partial => 'settings/gitolite_config_hooks',       :label => :label_tab_hooks},
                    {:name => 'gitolite_config_cache',       :partial => 'settings/gitolite_config_cache',       :label => :label_tab_cache},
                    {:name => 'gitolite_config_test',        :partial => 'settings/gitolite_config_test',        :label => :label_tab_config_test},
                    {:name => 'gitolite_recycle_bin',        :partial => 'settings/gitolite_recycle_bin',        :label => :label_tab_gitolite_recycle_bin},
                    {:name => 'gitolite_rescue',             :partial => 'settings/gitolite_rescue',             :label => :label_tab_gitolite_rescue},
                   ] %>

<span><%= l(:label_need_help) %> : <%= link_to l(:label_openproject_git_hosting_wiki), OpenProject::GitHosting::GitHosting::GITHUB_WIKI, :target => '_blank' %></span>

<br />

<span><%= l(:label_open_issue) %> : <%= link_to l(:label_openproject_git_hosting_issue), OpenProject::GitHosting::GitHosting::GITHUB_ISSUE, :target => '_blank' %></span>

<br />
<br />

<%= render_tabs settings_tabs %>

<%= javascript_tag do %>
  $(document).ready(function() {
    groups = $('[id^=tab-gitolite_]');

    $.each(groups, function(key, elem) {
      $(elem).on('click', function(){
        if ("replaceState" in window.history) {
          window.history.replaceState(null, document.title, 'redmine_git_hosting?tab=' + $(this).attr('id').replace('tab-', ''));
        }
      });
    });

    $('.bootstrap-switch').each(function(index, element) {
      installBootstrapSwitch(element);
    });
  });
<% end %>
