<% if @repository_git_config_keys.nil? || @repository_git_config_keys.empty? %>
  <table class="list" style="margin:1px 2px; width:100%">
    <thead>
      <tr>
        <th style="text-align:center;">No Git config keys defined for this repository</th>
      </tr>
    </thead>
  </table>
<% else %>
  <table class="list list-aleft" style="width:100%">
    <thead>
      <tr>
        <th><%= 'Key' %></th>
        <th><%= 'Value' %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @repository_git_config_keys.sort_by {|x| [x.key]}.each do |git_config_key| %>
        <tr class="<%= curcycle=cycle('odd', 'even') %>">
          <td class="center" style="text-align:left;"><%= git_config_key.key %></td>
          <td class="center" style="text-align:left;"><%= git_config_key.value %></td>
          <td class="buttons">
            <% if User.current.admin? || User.current.allowed_to?(:create_repository_git_config_keys, @project) %>
              <%= link_to l(:button_delete),
                       { controller: "projects/#{@project.identifier}/repository_git_config_keys", action: 'destroy', git_config_key: git_config_key},
                       method: :delete,
                       class: 'icon icon-delete',
                       confirm: "Are you sure you want to delete the key '#{git_config_key.key}'" %>
  	        <% end %>       
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
