<% html_title 'Manage Git repository' %>

<%= toolbar title: 'Manage Git repository' %>




<p>
<fieldset class="fs_deployment_credentials">
  <legend><%= 'Deployment credentials' %></legend>

  <%= render template: "repository_deployment_credentials/index" %>
</fieldset>
</p>

<p>
<fieldset class="fs_post_receive_urls">
  <legend><%= 'Post receive URLs' %></legend>

  <%= render template: "repository_post_receive_urls/index" %>
</fieldset>
</p>

<p>
<fieldset class="fs_repository_mirrors">
  <legend><%= 'Repository mirrors' %></legend>

  <%= render template: "repository_mirrors/index" %>
</fieldset>
</p>

<p>
<fieldset class="fs_git_config_keys">
  <legend><%= 'Git config keys' %></legend>

  <%= render template: "repository_git_config_keys/index" %>
</fieldset>
</p>
