
    <div id="validation_messages"><%= error_messages_for 'mirror' %></div>

    <p>
      <%= f.text_field :url, label: 'URL', required: true, style: 'width: 97%;' %>
    </p>
    
    <p>
      <%= f.hidden_field :repository_id, value: @repository.id %>
    </p>

    <p>
      <%= f.select :push_mode, options_for_select([['Complete mirroring', 0], ['Force update remote', 1], ['Fast forward (unforced)', 2]], 'Complete mirroring'),
                              { required: true, label: 'Mirror update mode' },
                              { class: 'select_key_type' } %>
    </p>

    <p>
      <%= f.check_box :include_all_branches, label: 'Include all branches', checked: false %>
    </p>

    <p>
      <%= f.check_box :include_all_tags, label: 'Include all tags', checked: false %>
    </p>

    <p>
      <%= f.text_field :explicit_refspec, label: 'Explicit refspec', style: 'width: 97%;' %>
    </p>

    <p>
      <%= f.check_box :active, label: 'Active', checked: true %>
    </p>
