<% if @repository_post_receive_urls.nil? || @repository_post_receive_urls.empty? %>
  <table class="list" style="margin:1px 2px; width:99%">
    <thead><tr><th style="text-align:center;">No post receive URLs defined for this repository</td></th></thead>
  </table>
<% else %>
  <table class="list list-aleft">
    <thead>
      <tr>
        <th><%= 'URL' %></th>
        <th><%= 'Mode' %></th>
        <th><%= 'Active' %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @repository_post_receive_urls.sort_by {|x| [x.url]}.each do |post_receive_url| %>
        <tr class="<%= curcycle=cycle('odd', 'even') %>">
          <td class="center" style="text-align:left;"><%= post_receive_url.url %></td>
          <td class="center" style="text-align:center;"><%= post_receive_mode post_receive_url %></td>
          <td class="center" style="text-align:center;"><%= checked_image post_receive_url.active? %></td>
          <td class="buttons">
            <% if User.current.admin? || User.current.allowed_to?(:create_repository_post_receive_urls, @project) %>
              <%= link_to l(:button_delete),
                       { controller: "projects/#{@project}/repository_post_receive_urls", action: 'destroy', post_receive_url: post_receive_url},
                       method: :delete,
                       class: 'icon icon-delete',
                       confirm: "Are you sure you want to delete the URL '#{post_receive_url.url}'" %>
  	        <% end %>       
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
